<mat-toolbar class="toolbar-content">
  <a class="logo-link" [routerLink]="['/']">
    <div class="logo1">Colombo</div>
    <div class="logo2">Nightlife</div>
  </a>
  <div class="dropdown">
    <a
      class="btn btn-link login-toggle"
      type="button"
      [routerLink]="['/login']"
    >
      Login<span class="caret"></span>
    </a>
    <button
      class="btn btn-link dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Contact<span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li>
        <a class="drop-link-advertise" [routerLink]="['/advertise']"
          >Advertise Free</a
        >
      </li>
      <li><a class="drop-link" [routerLink]="['/contact']">Contact us</a></li>
      <li><a class="drop-link" [routerLink]="['/about']">About us</a></li>
    </ul>
  </div>
</mat-toolbar>
