.desktop {
  width: 100%;
  color: white;
  margin: auto;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 20%;
  background-color: black;
}
