<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <!-- Banner -->
        <section id="banner">
          <div class="content">
            <header>
              <h1>
                Hi, Welcome to<br />
                Colombo Nightlife
              </h1>
              <p>All Nightlife and Partying in one place</p>
            </header>
            <p>
              Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin
              aliquam facilisis ante interdum congue. Integer mollis, nisl amet
              convallis, porttitor magna ullamcorper, amet egestas mauris. Ut
              magna finibus nisi nec lacinia. Nam maximus erat id euismod
              egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit
              nullam.
            </p>
            <ul class="actions">
              <li>
                <a [routerLink]="['/advertise']" class="button big">Advertise Free</a>
              </li>
            </ul>
          </div>
        </section>

        <!-- Section -->
        <section>
          <header class="major">
            <h2>Founder & Developer</h2>
          </header>
          <div class="posts">
            <article>
              <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
              <h3>Inod Umayanga Jayakody</h3>
              <p>
                Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                lorem feugiat tempus aliquam.
              </p>
              <ul class="actions">
                <li><a href="#" class="button">Contact</a></li>
              </ul>
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>