<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <!-- Banner -->
        <section id="banner">
          <div class="content">
            <header>
              <h1>
                About <br />
                ColomboNightlife
              </h1>
              <p>All Nightlife and Partying in one place</p>
            </header>
            <p>
              Going out? Can't decide where to go? <br />
              we are aggregating all the night clubs, pubs, restaurants and
              nightlife events in Colomobo to a oneplaceso you can find
              information conveniently.
            </p>
            <ul class="actions">
              <li>
                <a [routerLink]="['/advertise']" class="button big"
                  >Free Advertise Your Business</a
                >
              </li>
            </ul>
          </div>
        </section>

        <!-- Section -->
        <section id="banner">
          <div class="posts">
            <article>
              <header class="major">
                <h2>Founder & Creator</h2>
              </header>
              <span class="image object">
                <img
                  src="assets/images/face.png"
                  alt="Inod Umayanga Jayakody"
                />
              </span>
              <h3>Inod Umayanga Jayakody</h3>
              <p>
                Passionate Computer Science Graduate of NSBM who is also a
                freelancer and resercher of computer science and IoT related
                technologies
              </p>
              <ul class="actions">
                <li><a href="#" class="button">Contact</a></li>
              </ul>
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
