<mat-card class="mat-card-form">
  <form [formGroup]="form" (submit)="onSaveCard()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Client Name"
      />
      <mat-error *ngIf="form.get('name').invalid">
        Please enter a Client name.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="mainFeatures"
        placeholder="Main Features"
      />
      <mat-error *ngIf="form.get('mainFeatures').invalid">
        Please enter feature 1.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="rating"
        placeholder="Client ratings"
      />
      <mat-error *ngIf="form.get('rating').invalid">
        Please enter client ratings.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="reviews"
        placeholder="Client review number"
      />
      <mat-error *ngIf="form.get('reviews').invalid">
        Please enter a number of reviews for the client.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="price"
        placeholder="Client entrance price"
      />
      <mat-error *ngIf="form.get('price').invalid">
        Please enter entrance price for the client.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="location"
        placeholder="Client location Link"
      />
      <mat-error *ngIf="form.get('location').invalid">
        Please enter Client location Link.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="address"
        placeholder="Client address"
      />
      <mat-error *ngIf="form.get('address').invalid">
        Please enter Client address.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="telephone"
        placeholder="Client telephone number"
      />
      <mat-error *ngIf="form.get('telephone').invalid">
        Please enter a telephone number for the client.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="openHours"
        placeholder="Client open hours"
      />
      <mat-error *ngIf="form.get('openHours').invalid">
        Please enter open hours for the client.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="parking"
        placeholder="parking"
      />
      <mat-error *ngIf="form.get('parking').invalid">
        Please enter parking for the client.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="description"
        placeholder="Client description"
      />
      <mat-error *ngIf="form.get('description').invalid">
        Please enter a description for the client.
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="filePicker.click()"
    >
      Pick Image
    </button>
    <input type="file" #filePicker (change)="onImagePicked($event)" />
    <div class="image-preview" *ngIf="imageView && imageView !== ''">
      <img [src]="imageView" [alt]="form.value.title" />
    </div>
    <br />
    <hr />
    <button mat-raised-button color="warn" type="submit">Save Card</button>
  </form>
</mat-card>
