<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <section>
          <header>
            <h1>
              Free Advertise you Business with <br />
              ColomboNightlife
            </h1>
            <p>Make your Cyber Footprint with ColomboNightlife</p>
          </header>
          <ul class="contact">
            <p>
              Now you can advertise your business free with Colombo NightLife
              Give us a call or write an email so we can let you know how you
              can make your online footprint with us.
            </p>

            <li class="icon solid fa-envelope">
              <a href="#">inodumayanga@gmail.com</a>
            </li>
            <li class="icon solid fa-phone" href="tel:0774765841">
              077 4765 841
            </li>
            <li class="icon solid fa-phone">
              <a [routerLink]="['/advertise']" class="button big"
                >Free Advertise Your Business</a
              >
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="navbar">
    <a href="tel:0774765841">Call Now</a>
    <a
      href="mailto:inodumayanga@gmail.com?subject=Colombo NightLife Advertising&body=Hi Inod,"
      >E-Mail</a
    >
  </div>
</body>
