<div>
  <div class="top-page-slider">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="inner-image"
            src="https://s3.envato.com/files/112954178/01.jpg"
            alt="First slide"
          />
        </div>
        <!-- <div class="carousel-item">
          <img
            class="inner-image"
            src="https://s3.envato.com/files/112954178/02.jpg"
            alt="Second slide"
          />
        </div> -->
        <!-- <div class="carousel-item">
          <img
            class="inner-image"
            src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/retro-new-year-nightclub-facebook-banner-design-template-b539b686a5342b471e5927b2d88a8d91_screen.jpg?ts=1561428516"
            alt="Second slide"
          />
        </div> -->
        <!-- <div class="carousel-item">
          <img
            class="inner-image"
            src="http://www.timeline-covers.net/-/pics/vinyl/1341-vinyl-facebook-cover.jpg"
            alt="Third slide"
          />
        </div> -->
        <div class="carousel-item">
          <img
            class="inner-image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQINS8nMg6UdP9lqs5Usyq00iXNaleBFhKyWlu3HXFX9oGvgUhM&s"
            alt="Second slide"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div>
    <mat-toolbar class="toolbar-content">
      <span class="client-title">{{ card?.name }}</span>
      <div class="reviews-rating">
        <img src="assets/images/star.png" class="rating-img" alt="rate img" />
        <p class="features-style">
          {{ card?.rating }} | {{ card?.reviews }} reviews
        </p>
      </div>
    </mat-toolbar>
    <hr class="hr-style-special" />
    <p class="card-details">
      <!-- Dance Floor &nbsp; | &nbsp; Decent Crowd &nbsp; | &nbsp; Friendly Staff
      <br />
      Classy Interior &nbsp; | &nbsp; Hart of Colombo -->
      | &nbsp;<span *ngFor="let feature of featuresArray"
        >{{ feature }}<span *ngIf="feature">&nbsp; | &nbsp;</span></span
      >
    </p>
    <hr class="hr-style" />
    <div>
      <img src="assets/images/coin.png" class="rating-img" alt="image saved" />
      <p class="details">Price</p>
      <br />
      <p class="details-styles">
        {{ card?.price }}
      </p>
    </div>
    <hr class="hr-style" />
    <div class="link-container">
      <img
        src="assets/images/location.png"
        class="rating-img"
        alt="image saved"
      />
      <p class="details">Location</p>
      <br />
      <a class="link-details" href="card?.location">{{ card?.address }}</a>
    </div>

    <hr class="hr-style" />
    <div class="link-container">
      <img
        src="assets/images/telephone.png"
        class="rating-img"
        alt="image saved"
      />
      <p class="details">Call</p>
      <br />
      <a class="link-details" href="{{ telephoneLink }}" data-rel="external">{{
        card?.telephone
      }}</a>
    </div>

    <hr class="hr-style" />
    <div>
      <img
        src="assets/images/open-hours.png"
        class="rating-img"
        alt="image saved"
      />
      <p class="details">Open Hours</p>
      <br />
      <p class="details-styles">{{ card?.openHours }}</p>
    </div>
    <hr class="hr-style" />
    <div>
      <img
        src="assets/images/parking.png"
        class="rating-img"
        alt="image saved"
      />
      <p class="details">Parking</p>
      <br />
      <p class="details-styles">{{ card?.parking }}</p>
    </div>
    <hr class="hr-style" />
    <div>
      <img
        src="assets/images/description.png"
        class="rating-img"
        alt="image saved"
      />
      <p class="details">Description</p>
      <br />
      <p class="details-styles description">
        {{ card?.description }}
      </p>
    </div>
    <hr class="hr-style" />
    <!-- <div>
  <img
    src="assets/images/location-on-map.png"
    class="rating-img"
    alt="image saved"
  />
  <p class="details">Maps</p>
  <br />
  <div>
    <agm-map [latitude]="latitude" [longitude]="longitude"> </agm-map>
  </div>
</div>
<hr class="hr-style" /> -->

    <div class="navbar">
      <a href="{{ telephoneLink }}">Call Now</a>
      <a href="card?.location">On Maps</a>
    </div>
  </div>
</div>
