<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <section>
          <header>
            <h1>
              Contact <br />
              ColomboNightlife
            </h1>
            <p>All Nightlife and Partying in one place</p>
          </header>
          <ul class="contact">
            <p>
              It's always important to us what do you think about our website
              and we are open for all your suggetions how can serve you better.
              Do not hesitate to write to us or call.
            </p>

            <li class="icon solid fa-envelope">
              <a
                href="mailto:inodumayanga@gmail.com?subject=Colombo NightLife&body=Hi Inod,"
                >inodumayanga@gmail.com</a
              >
            </li>
            <li class="icon solid fa-phone" href="tel:0774765841">
              077 4765 841
            </li>
            <li class="icon solid fa-phone">
              <a [routerLink]="['/advertise']" class="button big"
                >Free Advertise Your Business</a
              >
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="navbar">
    <a href="tel:0774765841">Call Now</a>
    <a
      href="mailto:inodumayanga@gmail.com?subject=Colombo NightLife&body=Hi Inod,"
      >E-Mail</a
    >
  </div>
</body>
